@import "bootstrap-custom";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "home";
@import "effects";

html, body {
  height: 100%;
  background-color: #FBFFFE;
}

h3 a {
  color: black;
  text-decoration: none;
}

.dl-horizontal dd {
  padding-bottom: 10px;

}
.home-bg {
  background: url('heart.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.h5-home {
  color: white;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.no-display {
  display: none;
}

//-- Nav --//

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.navbar a {
  color: #EDEDED;
  background-color: transparent;
  text-decoration: none;
}

.navbar li a,
.navbar li a:hover,
.navbar li a:focus {
  color: #CDCDCD;
  background-color: transparent;
  text-decoration: none;
}

.navbar .open > a, .nav .open > a:hover, .navbar .open > a:focus {
  background-color: #292929;
}

.navbar li a:hover {
  color: #636363;
}

.nav-bg {
  background-color: #282828;
}

.nav-bg-opacity {
  background-color: rgba(0,0,0,0.75);
}

.no-bg-nav {
  text-align: right;
  padding-top: 10px;
}

.no-bg-nav a {
  padding-left: 15px;
}

.navcon {
  padding-right: 40px;
}
.footer {
  width: 100%;
  background-color: #FFFFFF;
  border-top: 1px solid #DDDDDD;
}
.footer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.footer nav ul a {
  padding: 10px 0px;
  margin: 15px 20px 15px 0px;
  color: #777;
}
.footer nav ul a:hover {
  background-color: transparent;
  color: #fff;
}
.footer .copyright {
  color: #777777;
  padding: 10px 15px;
  margin: 15px 3px;
  line-height: 20px;
  text-align: center;
}
.footer-color-black {
  background-color: rgba(30, 30, 30, 0.97);
}
.copyright {
  margin-bottom: 0px;
}
.dropdown-menu {
  text-align: right;
}
.dropdown-menu li a {
  color: black;
}
.dropdown-menu.login {
  width: 100%;
}

.arrow {
  width: 100px;
  margin: 0 auto;

}
.arrow-up {
  transform: rotate(180deg);
}


//-- Custom Divs --//

.section-border {
  margin-top: 30px;
  border-left: 2px solid black;
  padding-left: 15px;
}

.social {
  text-align: right;
  padding-top: 10px;
}

.social img {
  padding-left: 10px;
}

.jumbotron {
  padding: 10px 0;
}

.projects-wrapper {
  margin-left: 30px;
  margin-right: 30px;
}

.blurb-box {
  background-color: blue;
  height: 50px;
  width: 80px;
  transform: rotate(35deg);
}
.blurb-div {
  margin-top: 25px;
  margin-bottom: 25px;
}
.profile-row {
  min-height: 250px;
  padding: 0 0 15px 30px;
}
.col-1-3 {
  min-height: 150px;
  padding: 5px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.divide {
  border-left: 1px dotted gray;
  padding-left: 35px;
}
.white-space {
  height: 150px;
}

.banner {
  background-color: white;
  height: 400px;
}
.row-color {
  background-color: #EDEDEF;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.row-sm-width {
  margin-left: 50px;
  margin-right: 50px;
}

.row-color-size {
  margin-bottom: 100px;
  background-color: white;
  height: 300px;
}

.animation-slide {
  transition: 1s;
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 1s;
}

.img-div {
  text-align: right;
}

.profile-img {
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.image-shadow {
  border-radius: 5px;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.profile-img-sm {
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin-top: 5px;
}

.profile-img img,
.profile-img-sm img {
  width: 100%;
  height: auto;
}

.about-img {
  width: 100%;
  height: 0px;
}

.animate-btn {
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  text-decoration: none;
}

.enter-btn {
  border: 2px solid black;
  border-radius: 2px;
  padding: 10px 15px;
  margin-right: 15px;
  text-align: center;
}

.enter-btn a {
  color: black;
  font-family: 'Roboto Mono', monospace;
}

.enter-btn:hover a {
  color: white;
}

.enter-btn:hover {
  color: white;
  background-color: black;
  cursor: pointer;
  text-decoration: none;
}

.thumbnail {
  background-color: #282828;
}

.bg-profile-project {
  min-height: 250px;
  border-left: 10px solid black;
  padding: 15px;
}

.pad-top {
  padding-top: 100px;
}



//-- Typography --//
//font-family: 'Rock Salt', cursive;
//font-family: 'Changa One', cursive;
//font-family: 'Bungee', sans-serif;

.landing-font {
  padding-right: 60px;
  color: white;
}

.padding-right-1 {
  margin-top: 275px;
}


.alt-font {
  font-family: 'Questrial', sans-serif;
}

.header-text {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.main-text {
  padding-left: 20px;
}

.bg-img-text {
  color: black;
  text-shadow: 4px 2px black;
  background-color: black;
  border: 2px solid black;
}

.logo-text {
  float: left;
  padding: 15px 15px;
  font-size: 24px;
  line-height: 20px;
  height: 50px;
  font-family: 'Bungee', sans-serif;
}

.home-text {
  color: white;
}
.p-left {
  padding-left: 30px;
}

.left-indent {
  padding-left: 5px; 
}
.menu-home {
  text-align: left;
  padding-top: 20px;
  padding-left: 10px;
}

.caption h3, .caption p{
  color: #EDEDED;
}

.text-lrg {
  font-size: 32px;
  text-transform: uppercase;
}

//-- Media --//

.profile-pic {
  max-width: 100%;
}

.sign-up-pic {
  height: 250px;
  width: 100%;
}


//-- Form and List --//
.profile-list {
  padding-bottom: 10px;
}

.dl-horizontal dt {
  width: 100px;
}

.dl-horizontal dd {
  margin-left: 120px;
}

.about-nav ul li {
  padding-top: 5px;
}




//-- Buttons --//
.slide-btn {
  background-color: #015FB6;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 200px;
}
.custom-btn {
  font-size: 14px;
  font-family: monospace;
  padding: 20px;
  border-top: 1px dashed grey;
  border-bottom: 1px dashed grey;
}

.custom-btn:hover {
  font-size: 16px;
  border-left: 1px dashed grey;
  border-right: 1px dashed grey;
}
.btn-text-grey a {
  color: #262626;
  padding: 20px;
}

.dropzone {
  border: none;
}

.hover-black {
  padding: 2px 5px;
  border: 2px solid black;
  color: black;
}

.hover-black a {
  color: black;
}

.hover-black:hover {
  background-color: black;
  color: white;
}

.hover-black:hover a {
  background-color: black;
  color: white;
  text-decoration: none;
}
